<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="upCollect.ConnectionString" connectionString="server=10.168.30.36;uid=sa;pwd=pcpopsa;database=ElectricityProduct;" providerName="System.Data.SqlClinet"/>
  </connectionStrings>
  <appSettings>
    <add key="lastSuccessId" value="0"/>
    <add key="turns" value="0"/>
    <add key="Currentbegin" value=""/>
    <add key="lastbegin" value=""/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
 
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
